@charset "utf-8";

/* ========================= font ========================= */
@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ========================= common ========================= */

:root{
    /* color */
    --primary-color:rgb(247, 223, 253); 
    --primary-bg:white;
    --secondary-color:#111;
    --thertiary-color:rgb(249, 155, 226);
    --quaternary-color:#fff;
    /* font size */
    --font-large:3rem;
    --font-medium:1.5rem;
    --font-small:1rem;
    /* font-weight */
}

h1{
    font-size: var(--font-large);
    font-family: 'Anton', sans-serif;
}

h2{
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
}
p{
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 1.2rem;
    text-align: center;
}
/* ========================= header ========================= */
.header{
    background: var(--primary-color);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
}
.logo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    background: var(--primary-color);
}
.logo img{
    width: 200px;
    padding-top: 8px;
    height: auto;
    opacity: .6;
}
.gnb{
    display: flex;
    justify-content: center;
    background: white;
    border: 2px solid var(--primary-color);
}
.gnb-item{
    padding:0px 30px;
}
.gnb-item:hover {
    background: var(--thertiary-color);
}

.gnb-toggle-btn{
    position: absolute;
    right: 32px;
    font-size: 40px;
    color: white;
    top: 10px;
}

/* ========================= aside ========================= */
.sns{
    position: fixed;
    top: 200px;
    right: 20px;
    z-index: 9;
}
.sns img{
    width: 50px;
    height: 50px;
    padding: 5px;
    z-index: 9;
}
.sns img:hover{
    animation: flip;
    animation-duration: 1s;
}
main h1{
    font-size: var(--font-large);
    font-weight: 900; 
}
.sub-menu{
    display: inline-flex;
    
}
.sub-menu li{
    display: inline-flex;
    padding: 10px;
}

/* ========================= footer ========================= */
footer{
    font-size:12px;
    font-weight: 700;
    text-align: center;
    background: var(--primary-color);
    height: 10rem;
    padding-top: 2rem;
    color: rgba(0, 0, 0, 0.3);
}
