@charset "utf-8";
@import url(../css/reset.css);
@import url(../css/responsive.css);
@import url(../css/common.css);
.inner{
    padding-top: 150px;
}
.gallery{
    display: flex;
    width: 100%;
    justify-content: center;
}
.gallery img{
    width: 400px;
    padding: .5rem;
}