@charset "utf-8";
@import url(../css/reset.css);
@import url(../css/responsive.css);
@import url(../css/common.css);

.inner{
    padding-top: 100px;
}
.inner h1{
    margin-top: -4rem;
    padding-left: 1rem;
}
/* ========================= main banner ========================= */
.main__banner img {
    padding-top: 5rem;
    width: 100%;
}

/* arrow */
.slick-prev,
.slick-next
{
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev:after,
.slick-next:after{
    font-size: 3rem;
    color: var(--thertiary-color);
}
.slick-prev:after,
.slick-next:after{
    font-family: unicons-line;
}
.slick-prev:after {
    content: '\ec49';
}
.slick-next:after {
    content: '\eb9f';
}

/* progress */
.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -2rem;
    cursor: pointer;
}
/* active된 dot */
.slick-dots li.slick-active button {
    background:var(--thertiary-color);
}
/* 나머지 dot */
.slick-dots li button {
    background: white;
    width: 40px;
    height: 5px;
    font-size: 0;
    border: none;
} 

/* ========================= event ========================= */
.event-item{
    margin-top: -2rem;
    display: flex;
    justify-content: center;
}
.event-item li {
    max-width: 400px;
    margin: 1rem;
}
.event-item img{
    width: 300px;
    height: 400px;
    background: crimson;
}
/* ====================================== poster page ====================================== */
.poster-container{
    width: 100%;
    overflow: hidden;
    display: table;
    margin-top: -10px;
}
.poster-container .left{
    background: url(../img/event-banner/profile-ad.jpg) no-repeat center/cover;
}
.poster-container .center{
    background: url(../img/event-banner/kid-ad.jpg) no-repeat center/cover;
}
.poster-container .right{
    background: url(../img/event-banner/pet-ad.jpg) no-repeat center/cover;
}
.poster-container .left,
.poster-container .right,
.poster-container .center {
    display: table-cell;
    position: relative;
    width: 33.3333%;
    height: 500px;
    transition: all 0.7s;
}
.poster-container .left:hover,
.poster-container .right:hover,
.poster-container .center:hover{
    width: 45%;
}
.poster-container .left a,
.poster-container .right a,
.poster-container .center a{
    position: absolute;
    bottom:100px;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(143, 143, 143);
    font-size: 1rem;
    text-align: center;
    color: rgb(143, 143, 143);
    font-weight: 700;
    padding-top: 12px;
    overflow: hidden;
    transition: all .5s;
}
.poster-container .left a:before,
.poster-container .right a:before,
.poster-container .center a:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    margin-top: -30px;
    transform: translate(-50%);
    width: 0;
    height: 100%;
    border-radius: 30px;
    background:var(--thertiary-color);
    border-radius: 30px;
    transition: all .5s;  
}
.poster-container .left a:hover:before,
.poster-container .right a:hover:before,
.poster-container .center a:hover:before {
    width: 100%;
    left: 200%;
}
.poster-container .left a:hover,
.poster-container .right a:hover,
.poster-container .center a:hover{
    color: white;
    background:var(--thertiary-color);
}

@media (max-width: 480px){
    .poster-container .left,
    .poster-container .right,
    .poster-container .center,
    .poster-container .left:hover,
    .poster-container .right:hover,
    .poster-container .center:hover{
        display: block;
        width: 100%;
        height: 400px;
        overflow:hidden;
    }
}



