@charset "utf-8";

/* ========================= pc ========================= */
.gnb-toggle-btn{
    display: none;
}
.gallery{
    flex-direction: row;
}
/* ========================= tablet ========================= */
@media (max-width: 768px){
    
    /* header */
    .gnb{
        width: 100%;
        flex-direction: column;
        align-items: center;
        background: var(--thertiary-color);
        display: none;
    }
    .gnb-item{
        width: 100%;
        text-align: center;
        background: var(--primary-color);
        padding: 4px;
        display: none;
    }
    .gnb-toggle-btn{
        display: block;
    }
    .gnb.active li{
        display: block;
    }
    .slider-container h1{
        font-size: 2rem;
    }
    /* footer */
    footer p{
        font-size: 10px;
    }
    /* service page */
    .second-log{
        width: 70%;
        margin: 0 auto;
    }
    .second-log img{
        width: 100%;
    }
    .about-drawing h1{
        animation: none;
    }
}
/* ========================= mobile page ========================= */
@media (max-width: 480px){
    /* index page */
    .event-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    /* gallery page */
    .gallery{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    /* about page */
    .about{
        flex-direction: column;
    }
    .about p{
        font-size: 12px;
    }
    .process{
        flex-direction: column;
    }
    .about-drawing h1{
        font-size: 30px !important;
    }
    /* service page */
}